{% extends "base.html" %}

{% block title %}Entries - SoulBloom{% endblock %}

{% block content %}
<main>
  <h2>My Journal Entries</h2>

  {% if entries %}
    <ol>
      {% for entry in entries %}
      <div class="quote-box">
        <li>
          <strong>{{ entry.title }}</strong> <br>
          {{ entry.content }} <br>
          <small><em>
            {% if entry.date_created %}
              {{ entry.date_created.strftime("%B %d, %Y %I:%M %p") }}
            {% endif %}
          </em></small>
          <br>
          <a class="btn" href="{{ url_for('edit_entry', filename=entry.filename) }}">
            Edit
          </a>  
        <form action="{{ url_for('delete_entry', filename=entry.filename) }}" method="POST" style="display: inline;">
            <button type="submit" class="btn">Delete</button>
        </form>
        </li>
        </div>
        <hr>
      {% endfor %}
    </ol>
  {% else %}
    <h3 style="color: #0077b6">No journal entries yet...</h3>
  {% endif %}

  <br>
  <a class="btn" href="{{ url_for('journal') }}">
    Go To Journal
  </a>
  <a class="btn" href="{{ url_for('journal_copy') }}">
    Start Writing Now
  </a>  
</main>
{% endblock %}

